hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tarjeta {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e2eefd;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}

.tarjeta:hover {
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    border: 1px solid #fff;
}

.color-azul {
    color: #106eea;
}

.color-negro {
    color: black;
}

#dvtext {
    display: none;
}

#chkYes:checked~#dvtext {
    display: block;
}

.lineaDerecha {
    border-right: 1px solid #dedfe0;
}